h1, h2, h3, h4, h5, h6, p, .banner, .list {
	font-family: 'Quicksand', sans-serif;
	color: #cccccc;
	font-weight: 300;
} 

h6 {
	font-size: 15px;
}

.banner {
	font-size: 50px;
	font-weight: 300;
}

.logo-img {
	margin-top: 15px;
	margin-right: 10px;
	height: 50px;
}

body {
  background: black;
  margin-bottom: 60px;
  width: 100%;
 }

 .navbar, .banner-bg {
 background: #000000;  /* fallback for old browsers */
 background: -webkit-linear-gradient(to right, #333333, #0d0d0d);  /* Chrome 10-25, Safari 5.1-6 */
 background: linear-gradient(to right, #333333, #0d0d0d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 font-family: 'Quicksand', sans-serif;
 border: none;
}

.content {
	padding-top: 50px;
}
 
.dropdown-menu, .dropdown-menu > a {
	background: #333333;
	color: #cccccc;
	font-weight: 300;
}

.navbar-nav > li > a {
	font-weight: 300;
}

.well {
	font-family: 'Quicksand', sans-serif;
	color: #cccccc;
}

.paper-title {
	font-weight: 400;
	color: white;
} 
